
<div class="container">
<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <a class="navbar-brand" href="#">WELCOME</a>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left">
        <li class="tagline"><a href="#"><%= current_user.email %></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="tagline"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
</nav>
</div>

<!-- Modal -->




<div class="container">
    <div class="row options">
        <div class="col-md-4 text-center">Sort</div>
        <div class="col-md-4 text-center"><%= link_to "Add a job", new_job_path, "data-toggle" => "modal", "data-target" => "#myModal"%></div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <!-- <h4 class="modal-title" id="myModalLabel">Add a new job</h4> -->
      </div>
      <div class="modal-body">
        <%= render 'form' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
        <div class="col-md-4 text-center">Search</div>
    </div>

<% @jobs.each do |job| %>
    <div class="container_two">
        <div class="row-fluid">
            <div class="col-xs-6 col-md-4 item box"><a href="/jobs/<%= job.id %>"><div class="well text-center data-status="<%=job.status %>"><%= job.company_name %> <br><%= job.title %> <br> <%= job.location %> </div></a></div>
        </div>
    </div>
<% end %>

</div>
