<div class="container">
    <div class="row">
        <div class="header">
            <div class="title">Welcome</div>
            <div class="tagline"> <%= current_user.email %> </div>
        </div>
    </div>

    <%= link_to "Add a job", new_job_path %>
    <br>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>

    <br>

<% @jobs.each do |job| %>
<table class="table">
    <thead>
        <tr>
            <th>Company</th>
            <th>Link</th>
            <th>Title</th>
            <th>Location</th>
            <th>Status</th>
            <th>Notes</th>
            <th>Contact Name</th>
            <th>Contact Number</th>
            <th>Intrigue Level</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= job.company_name %></td>
            <td><%= link_to content_tag(:i,nil, :class=>"fa fa-external-link"), job.link %></td>
            <td><%= job.title %></td>
            <td><%= job.location %></td>
            <td><%= job.status %></td>
            <td><%= job.note %></td>
            <td><%= job.contact_name %></td>
            <td><%= job.contact_number %></td>
            <td><%= job.intrigue_level %></td>
        </tr>
    </tbody>
</table>
<% end %>

    <div class="row-fluid">
        <div class="col-xs-6 col-md-4"><div class="well">1</div></div>
        <div class="col-xs-6 col-md-4"><div class="well">2</div></div>
        <div class="col-xs-6 col-md-4"><div class="well">3</div></div>
    </div>

    <div class="row-fluid">
        <div class="col-xs-6 col-md-4"><div class="well">4</div></div>
        <div class="col-xs-6 col-md-4"><div class="well">5</div></div>
        <div class="col-xs-6 col-md-4"><div class="well">6</div></div>
    </div>


    <div class="row-fluid">
        <div class="col-xs-6 col-md-4"><div class="well">7</div></div>
        <div class="col-xs-6 col-md-4"><div class="well">8</div></div>
        <div class="col-xs-6 col-md-4"><div class="well">9</div></div>
    </div>

</div>
