<div class="row">
    <div class="header">
        <div class="col-md-offset-4 title first-word-of-title">On</div>
        <div class="col-md-offset-4 title">The</div>
        <div class="col-md-offset-4 title">Grind</div>
    </div>
</div>

<h2 class="text-center">All job listings</h2>
<ul>
  <% @jobs.each do |job| %>
    <li><%= job.company_name %></li>
    <li><%= job.link %></li>
    <li><%= job.title %></li>
    <li><%= job.location %></li>
    <li><%= job.status %></li>
    <li><%= job.note %></li>
    <li><%= job.contact_name %></li>
    <li><%= job.contact_number %></li>
    <li><%= job.intrigue_level %></li>
    <br>
<% end %>

</ul>
