<div class="container">
    <div class="row">
        <div class="header">
            <div class="title">Welcome</div>
            <div class="tagline"> <%= current_user.email %> </div>
        </div>
    </div>

    <%= link_to "Add a job", new_job_path %>
    <br>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>

    <br>

<% @jobs.each do |job| %>
<table class="table">
    <thead>
        <tr>
            <th>Company Name</th>
            <th>Link</th>
            <th>Title</th>
            <th>Location</th>
            <th>Status</th>
            <th>Notes</th>
            <th>Contact Name</th>
            <th>Contact Number</th>
            <th>Intrigue Level</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= job.company_name %></td>
            <td><%= job.link %></td>
            <td><%= job.title %></td>
            <td><%= job.location %></td>
            <td><%= job.status %></td>
            <td><%= job.note %></td>
            <td><%= job.contact_name %></td>
            <td><%= job.contact_number %></td>
            <td><%= job.intrigue_level %></td>
        </tr>
    </tbody>
</table>
<% end %>

</div>


