<div class="container">
    <div class="row">
        <div class="header">
            <div class="title">Welcome</div>
            <div class="tagline"> <%= current_user.email %> </div>
        </div>
    </div>

    <%= link_to "Add a job", new_job_path %>
    <br>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>

    <br>

<ul>
<% @jobs.each do |job| %>
<li><%= job.company_name %></li>
<li><%= job.link %></li>
<li><%= job.title %></li>
<li><%= job.location %></li>
<li><%= job.status %></li>
<li><%= job.note %></li>
<li><%= job.contact_name %></li>
<li><%= job.contact_number %></li>
<li><%= job.intrigue_level %></li>
<br>
<% end %>
</ul>

</div>
